files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/99-export-variables.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      unset SECRET_KEY
      unset DATABASE_URL
      unset ALLOWED_HOSTS
      unset DEBUG
      export SECRET_KEY="^G*PGmB8hQU6Ukg"
      export DATABASE_URL="mysql://test:test123456@aa9rd3551k5bb4.caxythh1h96e.us-east-1.rds.amazonaws.com:3306/ebdb"
      export ALLOWED_HOSTS="127.0.0.1"
      export DEBUG="True"