# Errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log

--- 
container_commands:
  04-convert-to-linux:
    command: "dos2unix -k /emind/ebextensions/scripts/setup.sh"
  05-make-runnable:
    command: "chmod 700 /emind/ebextensions/scripts/setup.sh"
  06-run-setup-only-once:
    command: "bash /emind/ebextensions/scripts/setup.sh"
    test: "test ! -f .semaphore_lock_only_once"
  07-restart-rsyslog:
    command: "/etc/init.d/rsyslog restart"
  99-setup-complete:
    command: "touch .semaphore_lock_only_once"